.colorpad {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	
	color: darkred;
	background-color: forestgreen;

	border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%) 1;
	border-radius: 5px;
	border-width: 4px;
	border-style: solid;
}

.quoteText {
	font-size: 24px;
  	-webkit-text-stroke: 1px white;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	text-rendering: optimizeLegibility;
  	paint-order: stroke fill;
}

.hoverEmphasis {
	border-width: 2px;
	margin-top: 125px;

	transition: border-width 0.2s ease-in-out, margin-top 0.2s ease-in-out;
}

.hoverEmphasis:hover {
	border-bottom-width: 6px;
	margin-top: 121px;
}

.colorpad:last-child {
/*	background-color: floralwhite;*/

}

.quoteArea {
	padding: 5px;
	transform: perspective(none) rotateY(15deg);
	transition: transform 1s ease 0s;
}
.quoteArea:hover {
	transform: scale(1.25);
	transform: translateX(50%);
	transform: perspective(none) rotateY(0);
	transition: transform 1s ease 0s;
}
.quoteArea.selected {
/*	flex-shrink: 0;*/
	margin-left: 50px;
	margin-right: 50px;
	border-style: outset;
	border-color: gold;
	background-color: forestgreen;
}

.colorpad {
	background-color: floralwhite;
}

/*.quoteArea:nth-child(4+n) {
	margin-left: 50px;
}*/

.quoteArea.left {
	transform: perspective(500px) rotateY(45deg);
	transition: transform 1s ease 0s;

}
.quoteArea:nth-child(n-5) {
	transform: perspective(1500px) rotateY(n);
	transition: transform 1s ease 0s;
	
}
