#navbar {
	min-height: 150px;
}
#logo {
	height: 75px;
}

@media screen and (min-width: 650px) {
	#navbar {
		min-height: 200px;
	}
	#logo {
		height: 150px;
	}
}

.hover-underline-animation {
	position: relative;
	display: inline-block;
}

.hover-underline-animation::after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: blueviolet;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}
