#navbar {
	min-height: 200px;
	z-index: 100;
}
#navbar.shrink {
  min-height: 100px;
  
  #logo {
  	height: 75px;
  	width: 120px;
  }
}

#snowflakeTemplate {
	z-index: 100;
	position: absolute;
}

nav.navbar{
  background-color:#ccc;
   -webkit-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}

#logo {
	-webkit-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
}

@media screen and (min-width: 650px) {
	#navbar {
		min-height: 200px;
	}
	#logo {
		height: 150px;
	}
}

.hover-underline-animation {
	position: relative;
	display: inline-block;
}

.hover-underline-animation::after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: blueviolet;
	transform-origin: bottom right;
	transition: transform 0.15s ease-out;
}

.hover-underline-animation:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}


.hoverText {
    background-color: lightskyblue;


    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
