<div id="resumeContainer">
	<div id="personalInfo">
		<div id="icon"></div>
		<div id="infoBox">
			<div id="name">
				<span>Isaiah</span>
				<span>Coleman</span>
			</div>
			<div id="contact">
				<span>Maple Shade Township, NJ, 08052</span>
				<span>609-202-9343</span>
				<span>isaiahcoleman12321&#64;gmail.com</span>
			</div>
		</div>
	</div>
	<div id="backgroundInfo">
		<div id="leftSide">
			<div id="workContainer">
				<div id="work" class="leftBox">Work History</div>
				<ul id="workList">
					<li>
						<div id="workTitle">
							<span>Warehouse Associate</span>
							<span style="margin-left: 5%; font-size: .6em;">December 2021 - May 2022</span>
						</div>
						<ul id="workExpertise">
							<li>Worked safely around moving machinery.</li>
							<li>Unloaded and moved packages to and from docking and storage areas.</li>
							<li>Assisted in unpackaging and stocking of merchandise.</li>
							<li>Maintained a clean and orderly work space, free of hazards.</li>
						</ul>
					</li>
				</ul>
			</div>
			<div id="educationContainer">	
				<div id="education" class="leftBox">Education</div>
				<ul id="edList">
					<li>Woodstown Highschool</li>
					<li>Rowan College at Gloucester County 2y/r</li>
					<li>Online Courses, CoderFoundry, Coursera</li>
				</ul>
			</div>
			<div id="certificationsContainer">
				<div id="certifications" class="leftBox">Certifications</div>
				<ul id="certiList">
					<li>Rowan Associate's Degree</li>
					<li>Single Page Web Applications with AngularJS</li>
				</ul>
			</div>
		</div>
		<div id="rightSide">
			<div id="summary">
				I'm passionate about learning new skills and practice.
			</div>
			<div id="skills">
				<span>Skills</span>
				<ul>
					<li>Lifting and sorting</li>
					<li>Product verification</li>
					<li>Quantity calculations</li>
					<li>Warehouse safety</li>
					<li>HTML, CSS, JS, Angular JavaScript Framework</li>
				</ul>
			</div>
			<div id="languages">
				<span>Language(s)</span>
				<ul>
					<li>
						<div class="d-flex">
							<span>English</span>
							<div id="progressEnglish">
								<div style="background-color: red; width: 16.66%;"></div>
								<div style="background-color: orangered; width: 16.66%;"></div>
								<div style="background-color: orange; width: 16.66%;"></div>
								<div id="progressColor" style="background-color: yellowgreen; width: 16.66%;"></div>
								<div style="background-color: greenyellow; width: 16.66%;"></div>
								<div style="background-color: lawngreen; width: 16.66%;"></div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

	</div>
</div>