/*#outlet-container {
	padding-top: 150px;
}

@media screen and (min-width: 650px) {
	#outlet-container {
		padding-top: 200px;
	}
}*/

#outletcontainer {
	content: "";
	margin-top: 200px;
	-webkit-transition: all .4s ease-in-out;
  	transition: all .4s ease-in-out;
}

#outletcontainer.shrink {
  	margin-top: 100px;
  }