#outletcontainer {
	content: "";
	margin-top: 92.3px;
	-webkit-transition: all .5s .05s ease-in-out;
  transition: all .5s .05s ease-in-out;
}

#outletcontainer.shrink {
  	margin-top: 75.5px;
}

@media screen and (min-width: 750px) {
	#outletcontainer {
  	margin-top: 129.8px;
	}
	#outlet-container.shrink {
		margin-top: 92.3px;
	}
}