<div class="container-fluid" style="max-width: 100vw; overflow: hidden; padding: 0;">
	<div class="row">
		<app-solar-system></app-solar-system>
	</div>
	<div class="row">
		<div class="col-12 position-relative overflow-hidden ">
			<app-box></app-box>
		</div>
	</div>
	<div class="row">
		<div class="col-12 position-relative" style="">
			<!-- imported toggle button NEW AUTO BUTTON/TOGGLE-->
			<input type="checkbox" class="l" style="">
			<input type="checkbox" class="m" style="">
			<div style="position: absolute; bottom: -10%; left: 5%; font-size: .4em; ">code from freeuicode- redone for learning purposes.</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12 position-relative mt-5" style="">
			<div class="bar">
	    		<div class="ball" (click)="alert('ball')"></div>
			</div>
		</div>
	</div>
	<div class="row">
		<app-pizza-oven></app-pizza-oven>
	</div>
</div>