<div class="trees-container">
	<button id="backBtn" (click)="goBack()">go back</button>
	<img src="./assets/firepit.png" id="firepit" (click)="alert('dont touch the fire!')">
	<!--fire lighting gradient-->
	<div class="fireLighting"></div>

	<!--front middle tree-->
	<div class="tree frontTree">
		<div class="topTree">
			<div class="topZigzag">
				<div class="zigzag1"></div>
				<div class="zigzag2"></div>
				<div class="zigzag3"></div>
			</div>
		</div>
		<div class="middleTree">
			<div class="midZigzag">
				<div class="zigzag1"></div>
				<div class="zigzag2"></div>
				<div class="zigzag3"></div>
				<div class="zigzag4"></div>
			</div>
		</div>
		<div class="bottomTree"></div>
		<div class="base"></div>
	</div>

	<!--firelight tree-->
	<div class="tree fireTree">
		<div class="topTree"></div>
		<div class="middleTree"></div>
		<div class="bottomTree"></div>
		<div class="base"></div>
	</div>

	<!--shadow BG tree-->
	<div class="tree bgTree">
		<div class="topTree">
			<div class="topZigzag">
				<div class="zigzag1"></div>
				<div class="zigzag2"></div>
				<div class="zigzag3"></div>
			</div>
		</div>
		<div class="middleTree">
			<div class="midZigzag">
				<div class="zigzag1"></div>
				<div class="zigzag2"></div>
				<div class="zigzag3"></div>
				<div class="zigzag4"></div>
			</div>
		</div>
		<div class="bottomTree"></div>
		<div class="base"></div>
	</div>
	<!--shadow BG tree-->
	<div class="tree bgTree bgTree2">
		<div class="topTree">
			<div class="topZigzag">
				<div class="zigzag1"></div>
				<div class="zigzag2"></div>
				<div class="zigzag3"></div>
			</div>
		</div>
		<div class="middleTree">
			<div class="midZigzag">
				<div class="zigzag1"></div>
				<div class="zigzag2"></div>
				<div class="zigzag3"></div>
				<div class="zigzag4"></div>
			</div>
		</div>
		<div class="bottomTree"></div>
		<div class="base"></div>
	</div>
	<!-- <div class="tree tree3">
		<div class="topTree"></div>
		<div class="middleTree"></div>
		<div class="bottomTree"></div>
		<div class="base"></div>
	</div> -->
</div>

<!-- <ul class="tree2">
    <li><a>Item1</a></li>
    <li><a>Item2</a>
        <ul>
            <li>
             <a style="padding-left:30px">Item3</a>
            </li>
        </ul>
    </li>
</ul> -->